/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background-color: #2C2525;
    font-family: 'Cascadia Code', sans-serif;
	margin-left: 5%;
	margin-right: 5%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}
.main-portion img {
	display: block;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: auto;

}
.name {
	font-size: 24px;
	text-align: center;
	color:darkred;
}
.nav-buttons {
  width: 180px;
  height: 60px;
  color: darkred;
  cursor: pointer;
  background: transparent;
  border: 1px solid darkred;
  outline: none;
  transition: .4s ease-in-out;
  padding: 10px;
  text-decoration: none;
}
.nav-buttons:hover {
	stroke-dashoffset: -480;
}
.main-portion img .front-image {
	margin: 10%;
	position: relative;
}
.over-text {
	background-image: url('https://picsum.photos/1920/900');
	display: flex;
	justify-content: center;
	align-items: center;
	height: 600px;
	font-size: 36px;
	text-align: center;
	color:darkred;
}
.projects-button {
	color: darkred;
	cursor: pointer;
	background: transparent;
	border: 1px solid darkred;
	outline: none;
	transition: .4s ease-in-out;
	padding: 10px;
	text-decoration: none;
	margin-left: 20px;
}
.project-showcase {
	display: grid;
	grid-template-columns: auto;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 15px;
	margin-top: 50px;
	align-items: center;
	justify-content: center;
}
.project-showcase img {
	display: flex;
	justify-content: space-evenly;
	width: 85%;
	height: auto;
}
h3{
	margin-top: 10px;
	margin-bottom: 20px;
}
footer{
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}
.contact-button{
	width: auto;
	height: auto;
	color: darkred;
	cursor: pointer;
	background: transparent;
	border: 1px solid darkred;
	outline: none;
	transition: 1s ease-in-out;
	padding: 10px;
	text-decoration: none;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}
@media only screen and (max-width: 600px) {
	body {
	background-color: #2C2525;
	}
	header {
		display: flex;
		flex-direction: column;
	}
	nav {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.nav-buttons {
		height: 25px;
		margin: 2px;
	}
	.project-showcase {
		display: grid;
		grid-template-columns: auto;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 15px;
		margin-top: 50px;
		align-items: center;
		justify-content: center;

	}
	.project-showcase img {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		height: auto;
	}
	.over-text{
		font-size: 150%;
	}
  }